/* Applying border-box sizing to all elements for consistent sizing calculation */
* {
  box-sizing: border-box;
}

/* Styling for the entire page */
body {
  margin: 0;
  background-color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styling for the calculator container */
.calculator {
  background: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 390px;
  width: 250px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

/* Styling for the display area */
.display {
  position: relative;
  color: #fff;
  font-size: 36px;
  padding: 20px 10px;
  text-align: right;
  height: 70px;
  width: 100%;
}

button {
  border-radius: 5px;
  color: white;
  background: rgb(102, 102, 102);
  cursor: pointer;
  font-size: 24px;
  margin: 5px;
  width: 50px;
  height: 50px;
  border-style: none;
}

button:hover {
  color: black;
  outline: 0.05em solid grey;
  z-index: 3;
}

/* Styling for the numbers area */
.numbers {
  width: 75%;
}

.operators {
  width: 25%;
}

/* Styling for the clear button */
.clear {
  background: rgb(172, 57, 57);
  width: 110px;
  margin-right: 50%;
}

/* Styling for the zero button */
.zero {
  width: 110px;
}

/* Styling for the equal button */
.equal {
  background: rgb(0, 68, 102);
}
